<div class="col-xs-12 side-nav">
  <ul>
    <li><a href="http://" class="active"><i class="fa fa-file-text-o" aria-hidden="true"></i>My Wall</a></li>
    <li><a href="http://"><i class="fa fa-address-card" aria-hidden="true"></i>Profile</a></li>
    <li><a href="http://"><i class="fa fa-envelope" aria-hidden="true"></i>Messages<span>0</span></a></li>
    <li><a href="http://"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Colleagues</a></li>
    <li><a href="http://"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>Collagues Request<span>6</span></a></li>
    <li><a href="http://"><i class="fa fa-users" aria-hidden="true"></i>My groups</a></li>
    <li><a href="http://"><i class="fa fa-comments" aria-hidden="true"></i>Chat</a></li>
  </ul>
</div>
