<div class="col-xs-12 top-header">
  <div class="container">
    <div class="col-md-6 col-xs-12 left">
      <ul>
        <li><a>FAQ</a></li>
        <li><a>Contact Us</a></li>
      </ul>
    </div>
    <div class="col-md-6 col-xs-12 right">


      <ul>
        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
      <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
        <a href dropdownToggle (click)="false"><i class="fa fa-caret-down" aria-hidden="true"></i>{{selectedLang}}<img [src]="selectedIcon" class="img-responsive"></a>
          <ul *dropdownMenu class="dropdown-menu">
            <li *ngFor="let item of lang">
              <a class="dropdown-item" href="#" (click)="select(item.name,item.icon)"> {{item.name}}<img [src]="item.icon" class="img-responsive"></a>
            </li>
          </ul>
      </span>
    </div>
  </div>

</div>
<div class="col-xs-12 bottom-header">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#youth"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="../../../assets/image/logo.png" class="img-responsive"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="youth">
        <ul class="nav navbar-nav navbar-right">
          <li class="tab-hover"><a href="#"><span>Home</span><i class="fa fa-home" aria-hidden="true"></i></a></li>
          <li class="tab-hover"><a href="#"><span>AboutUs<i class="fa fa-users" aria-hidden="true"></i></span></a></li>
          <li class="tab-hover"><a href="#"><span>OurService</span><i class="fa fa-graduation-cap" aria-hidden="true"></i></a></li>
          <li class="tab-hover"><a href="#"><span>News & Events</span><i class="fa fa-newspaper-o" aria-hidden="true"></i></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="../../../assets/image/Profile pic.png">Hi <b>User</b><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
          <li>
              <form action="" class="search-form navbar-form navbar-right">
                <div class="form-group has-feedback">
                  <input type="text" class="form-control" name="search" id="search" placeholder="">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form>
            </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</div>

