<div class="col-xs-12 add-post">
  <div class="col-xs-12 title">
    <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>New Post</h3>
  </div>
  <div class="widget-area no-padding blank">
    <div class="status-upload">
      <form class="col-xs-12" #p="ngForm" (ngSubmit)="addpost(p)">
        <textarea placeholder="Share Your Experince With Us..." id="desc" name="name" type="text" [(ngModel)]="post.desc"></textarea>
        <div class="col-xs-12 upload" *ngIf="uploadImage">
          <fancy-image-uploader [options]="options" (onUpload)="onUpload($event)" [(ngModel)]="post.img"></fancy-image-uploader>
        </div>
        <div class="col-xs-12 video" *ngIf="UploadVideo">
         <input placeholder="Enter Video Url" id="desc" name="name" type="text" [(ngModel)]="post.vedio">
        </div>

        <ul>
          <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video" (click)="image()"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
          <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture" (click)="video()"><i class="fa fa-microchip" aria-hidden="true"></i></a></li>
        </ul>
        <button type="submit" class="btn" [disabled]="!p.valid">Go</button>
      </form>
    </div>
  </div>
</div>
